@{
    ViewData["Title"] = "About";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-12">
        <p><b>Leonardo Vallejos</b></p>
        <p>
            Mail: <a href="mailto:leonardofabian.hernandezvallej@smail.rasmussen.edu">leonardofabian.hernandezvallej@smail.rasmussen.edu</a>
        </p>
        <p>Adventure Works Cycle Web App</p>
        <p>COP2664C Advanced Database Programming Techniques</p>
        <p>Rasmussen College 2017</p>
    </div>
</div>
